<div id="player" class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="cover">
                <img 
                    src="https://images-na.ssl-images-amazon.com/images/I/51n%2BVvkh0RL._SX355_.jpg"
                    class="img-fluid"
                    alt=""
                    />
            </div>

            <div class="info">
                <span class="cancion">El Cantante</span>
                <span class="album">Héctor Lavoe</span>
            </div>

        </div>
        <!-- <div class="col-xs-12 col-sm-6"></div>
        <div class="col-xs-12 col-sm-3"></div> -->
    </div>
</div>
