.youtube,
.facebook {
    margin-top: 25px;
}

@media (max-width: 767px) {
    .instagram .contenedor-iframe {
        width: 300px;
        margin: auto;
        overflow: hidden;
        text-align: center;
    }

    .instagram .contenedor-iframe iframe {
        margin-left: -11px;
    }
}