.columna-redes-sociales {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .columna-redes-sociales {
        text-align: right;
    }
}

@media (max-width: 767px) {
    .columna-redes-sociales {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 25px;
        text-align: center;
    }
}