.chatInput {
    flex: 10;
    font-size: 1.3em;
    background-color: #eee;
    color: #000;
    transition: 0.1s ease-out;
    padding-left: 15px;
}

.chatInput:focus {
    background-color: #e4f1fe;
    color: #222;
    transition: 0.2s ease-in;
}

.chatButton {
    flex: 1;
    padding: 10px;
    padding: 8px 24px;
    font-size: 1.3em;
    background-color: #fa082b;
    color: white;
    transition: 0.2s ease-out;
    min-width: 50px;
}

.chatButton:hover {
    background-color: #444;
}
